<p>editar-endereco works!</p>
<h1>Esse é o componente responsável por editar um endereço</h1>
<div class="well">
    <form #formEndereco="ngForm">
        <div class="form-group">
            <label for="rua">Rua:</label>
            <input type="text" class="form-control"  name="rua" id="rua" minlength="2" required [(ngModel)]="endereco.rua" #rua="ngModel">
            <div *ngIf="rua.errors && (rua.dirty || rua.touched)" class="alert alert-danger">
                <div [hidden]="!rua.errors['required']">Digite o nome da pessoa</div>
                <div [hidden]="!rua.errors['minlength']">O nome deve conter ao menos 2 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <label for="numero">Numero:</label>
            <input type="text" class="form-control" id="numero" name="numero" required [(ngModel)]="endereco.numero" #numero="ngModel"> 
            <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger mt-2">
                <div>Digite o número da casa</div>
            </div>
        </div>
        <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" id="complemento" name="complemento" required [(ngModel)]="endereco.complemento" #complemento="ngModel"> 
            <div *ngIf="complemento.errors && (complemento.dirty || complemento.touched)" class="alert alert-danger mt-2">
                <div>Informe o complemento</div>
            </div>
        </div>
        <div class="form-group">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" id="bairro" name="bairro" required [(ngModel)]="endereco.bairro" #bairro="ngModel"> 
            <div *ngIf="bairro.errors && (bairro.dirty || bairro.touched)" class="alert alert-danger mt-2">
                <div>Informe o bairro</div>
            </div>
        </div>
        <div class="form-group">
            <label for="cep">Cep:</label>
            <input type="text" class="form-control" id="cep" name="cep" required [(ngModel)]="endereco.cep" #cep="ngModel"> 
            <div *ngIf="cep.errors && (cep.dirty || cep.touched)" class="alert alert-danger mt-2">
                <div>Informe o CEP</div>
            </div>
        </div>
        <div class="form-group">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" id="cidade" name="cidade" required [(ngModel)]="endereco.cidade" #cidade="ngModel"> 
            <div *ngIf="cidade.errors && (cidade.dirty || cidade.touched)" class="alert alert-danger mt-2">
                <div>Informe a Cidade</div>
            </div>
        </div>
        <div class="form-group">
            <label for="estado">Estado:</label>
            <input type="text" class="form-control" id="estado" name="estado" required [(ngModel)]="endereco.estado" #estado="ngModel"> 
            <div *ngIf="estado.errors && (estado.dirty || estado.touched)" class="alert alert-danger mt-2">
                <div>Informe o Estado</div>
            </div>
        </div>
        
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="atualizar()" [disabled]="!formEndereco.form.valid">
                <fa-icon [icon]="faSave"></fa-icon> Atualizar
            </button>
            <a class="btn btn-secondary mx-2" [routerLink]="['/enderecos/listar']">
                <fa-icon [icon]="faArrowLeft" aria-hidden="true"></fa-icon> Voltar
            </a>
        </div>
    </form>
</div>